@import "@carbon/layout/scss/layout";
@import "@carbon/type/scss/styles";
@import "@carbon/colors/scss/colors";

.mapping_objects__top_menu {
  text-align: right;
}

.object_item__box {
  margin-bottom: $spacing-05;
  padding: $spacing-03 $spacing-05;
  &:first-of-type {
    padding-top: $spacing-05;
  }

  .object_item__content {
    background-color: $carbon--gray-90;
    padding: $spacing-03 $spacing-05;

    .object_item__header {
      line-height: $spacing-09;
      .expand_collapse__button {
        margin-left: $spacing-05;
        cursor: pointer;
      }
      .right_menu {
        text-align: right;
      }
    }

    .source_field__box {
      padding-right: $spacing-05;
      padding-left: $spacing-05;
      background-color: $carbon--gray-80;
      margin-bottom: $spacing-05;
      border-top: 2px solid $carbon--gray-70;

      .source_field__header {
        padding-top: $spacing-05;
      }

      .source_field__table {
        margin-top: $spacing-05;
        margin-right: $spacing-05;
        margin-left: $spacing-05;
      }
    }

    .object_item__btn {
      cursor: pointer;
    }

    .object_item__btn_disable {
      cursor: default;
      fill: $carbon--gray-40;
    }

    .object_item__title {
      @include carbon--type-style("productive-heading-03");
    }

    .object_item__map {
      background-color: $carbon--gray-90;
      margin-bottom: $spacing-07;
      padding: $spacing-05 $spacing-05;
      border: $spacing-01 solid $carbon--gray-30;
    }

    .object_item__field {
      margin-top: $spacing-05;
      padding-bottom: $spacing-03;
      margin-bottom: $spacing-05;
    }
  }
}

.modal {
  padding: {
    top: $spacing-03;
    bottom: $spacing-10;
  }
  margin-top: $spacing-03;
  margin-bottom: $spacing-13;
}

.combo_box {
  background-color: $carbon--gray-80;
  margin-left: $spacing-10;
}

.statistics__col {
  background-color: $carbon--gray-90;
  padding: {
    top: $spacing-05;
    bottom: $spacing-05;
  }
  .title {
    @include carbon--type-style("body-short-01");
  }
  .coverage_percent {
    @include carbon--type-style("productive-heading-04");
    margin-top: $spacing-03;
    margin-bottom: $spacing-03;
  }
  .coverage_count {
    @include carbon--type-style("label-01");
  }
}

.sticky__box {
  max-height: carbon--mini-units($count: 60);
  overflow-y: auto;
  overflow-x: hidden;
}

.minimap {
  width: 90%;
  background-color: $carbon--gray-80;
}

.minimap__tile {
  margin-bottom: $spacing-01;
  padding: $spacing-03 $spacing-05;
  color: $carbon--white-0;
  background-color: $carbon--gray-90;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    cursor: pointer;
    background-color: $carbon--gray-80;
  }
}

.minimap__activeTile {
  background-color: $carbon--gray-70;
}

.section_title {
  @include carbon--type-style("productive-heading-01");
  margin-bottom: $spacing-03;
}

.statistics_button {
  margin: 1.5rem;
}